*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  font-family: var(--orbitron-font);
  overflow-x: hidden;
  transition: all 1s linear;
  background-color: var(--bgcolor);
}
body::-webkit-scrollbar{
  width: 15px;
}
body::-webkit-scrollbar-track{
  border-radius: 20px;
  background-color: var(--lightcolor2);
}
body::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: var(--darkcolor2);
}

section{
  position: relative;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: var(--spaceBetweenSections) 0px 0px 0px;
  padding: 0px 10px;
  padding-bottom: var(--spaceBetweenSections);
  border-bottom: 5px solid var(--lightcolor3);
}

button {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: -10vh;
  color: var(--lightcolor3);
}